@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Poppins", serif;
}
.navbar{
    position: fixed;
    width: 100vw;
}
nav{
    background-color: pink;
    padding-left: 20px;
    height: 12vh;
}
body{
    background-color: rgb(242, 150, 165);
}
nav ul li{
    list-style: none;
    display: inline;
    padding: 0px 50px 0px 50px;
    font-weight: bold;
    font-size: 18px;
} 
nav ul{
    padding-left: 300px;
    position: relative;
    bottom: 18px;
    margin-left: 250px;
}
nav .logo a{
    position: relative;
    top: 18px;
    font-size: 31px;
    padding-left: 15px;
}
ul input[type=text]{
    border: none;
    font-size: 17px;
    padding-left: 4px;
    margin-left: 20px;
}
.boxes{
    background-color: green;
    height: 950px;
    padding: 88px 0px 88px 0px;;
}
div .box{
    display: inline-block;
    width: 500px;
    background-color: blue;
    height: 950px;
    margin: 40px 125px 0px 125px;
}
div.rec{
    height: 200px;
    width: 500px;
    background-color: slategray;
    border: 2px solid black;
    border-radius: 10px;
    margin: 50px 0px 90px 500px;
    
}
.rec p{
    font-size: 18px;
    text-align: center;
    padding: 73px;
    color: white;
}
div.footer{
    height: 50px;
    background-color: aqua;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}
.footer p{
    text-align: center;
    font-size: 23px;
    padding-top: 8px;
}